data/*.csv filter=lfs diff=lfs merge=lfs -text
data/KF_above_rated.csv filter=lfs diff=lfs merge=lfs -text
data/S12_merged_10Hz_FS.csv filter=lfs diff=lfs merge=lfs -text
data/S31_10Hz_FS.csv filter=lfs diff=lfs merge=lfs -text
data/windwave.csv filter=lfs diff=lfs merge=lfs -text
